<nav class="navbar">
  <span class="navbar-brand mb-0 h1" style="color: #00406d">Currency Converter</span>
  <span class="chooser">
    <span class="badge badge-secondary localStyle">Local:</span>
    <select class="selectpicker" data-width="fit" [(ngModel)]="localSelected"
            (ngModelChange)="onChange()">
    <option *ngFor="let item of getCurrencies()" value="{{item}}">
      <span class="flag-icon image-circle flag-icon-squared flag-icon-{{getCurrencyObj(item).flag}}"></span>
      {{item}} - {{getCurrencyObj(item).name}}
    </option>
  </select>
    <span class="help-commet" placement="bottom" style="cursor: help" ngbTooltip="You can choose local currency.
    After you choose, the list at the right side is showing you the other currencies value compared to the local currency.">(?)</span>
  </span>
</nav>
