.navbar {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.image-circle {
  border-radius: 100%;
}

.chooser {
  margin-right: 10%;
}

.localStyle {
  font-size: 90%;
}
.help-commet{
  color: lightsteelblue;
  margin: 5px;
}
