<div class="row currencylist">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 currency">
        <div class="row">
          <div class="col-md-5" style="text-align: center">
            1x  <img src="../../assets/coins.svg" style="max-height: 20px;max-width: 20px">
            </div>
          <div class="col-md-7" style="text-align: center">{{getLocal()}} ({{getLocalCurrencyObj().symbol}})</div>
        </div>
      </div>
    </div>
    <app-currency *ngFor="let currency of currencies" [CurrencyObject]="currency"></app-currency>
  </div>
</div>


